@import url('https://fonts.googleapis.com/css2?family=Risque&family=Roboto+Mono:wght@300&display=swap');

:root{
    --h1-font: 2rem;
    --h2-font: 1.5rem;
    --h3-font: 1rem;
    --para-font: 0.75rem;
    --padding-main_container: 2rem 0;
    --padding-small_container: 2rem;
}

*, ::before,::after{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: var(--h1-font);
    line-height: 110%;
    font-weight: 800;
    letter-spacing: -10%;
}

h2{
    font-size: var(--h2-font);
    line-height: 120%;
    font-weight: 700;
    letter-spacing: -5%;
}

h3{
    font-size: var(--h3-font);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.5%;
}

p{
    font-size: var(--para-font);
    font-weight: bold;
    line-height: 130%;
}

ul{
    list-style-type: none;
}

body{
    width: 100vw;
    background: #00002e;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 12px;
}

.layout-container{
    margin: 0 auto;
    padding: var(--padding-main_container);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container{
    max-width: 50%;
    margin: 0 auto;
}

.text-container h2, p{
    margin-bottom: 1rem;
}

.img-container{
    max-width: 50%;
    max-height: 75%;
    min-width: 50%;
    min-height: 50%;
    margin: auto;
}
.content-image{
    box-shadow: 0px 10px 30px 5px rgba(0,0,0,0.59);
}

nav{
    background-color: #1d1d46;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0px 10px 30px 5px rgba(0,0,0,0.59);
}

nav .logo{
    width: 100%;
    padding: 1rem 0.25rem;
    display: flex;
    align-items: center;
}

nav .logo span{
    width: fit-content;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s ease right;
}

nav .logo .logo-container{
    width: 1.75rem;
    height: 1.75rem;
}

nav .logo h2{
    display: none;
}

nav .nav-items{
    width: 100vw;
    display: none;
    flex-direction: column;
    transition: all 1s ease down;
}

nav .nav-items a{
    margin: 1rem auto;
    width: fit-content;
    text-align: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: all 0.5s ease down;
}

nav .nav-items a:hover{
    color: slateblue;
    transition: all 0.5s ease down;
}

nav .nav-items .active{
    background-color: #88C5E8;
    color: slateblue;
    transition: all 0.5 ease down;
}

#hero-section{
    margin-top: 10vh;
    background-image: url('images/pcs.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bubble{
    background-color:rgba(167,167, 176, 0.4);
    padding: 1rem;
}

.products{
    background-color: #5b7c99;
    color: black;
}

section .text-container .action-button{
    border: 2px solid #37013A;
    border-radius: 15px;
    color: #37013A;
    cursor: pointer;
    max-width: 150px;
    outline: none;
    padding: 0.5rem;
    font-weight: 700;
    text-align: center;
}

.services{
    margin: 0 auto;
    background-color: #d9d9d9;
    color: black;
}



.membership{
    background-image: url("images/member.jpg");
    background-position: center;
    background-size: cover;
    color: black;
    margin: 0px auto;
}

footer{
    width: 100%;
    background-color: #222021;
    padding: 50px;
}

footer p{
    font-size: 12px ;
    font-weight: 400;
    margin-left: 3px;
}

footer .container> *{
    width: 100%; 
    margin-bottom: 12px;
    padding: 5px;
}

footer .company-info > *{
    margin: 4px;
}

footer .sitemap > * {
    margin-bottom: 4px;
}

footer .sitemap ul{
    list-style-type: disc;
    margin-left: 1.5rem;
}

footer .social .support > *{
    margin: 3px;
}

footer .social .platforms .icons{
    width: 20px;
    height: 20px;
    margin: 0 auto; 
}

footer .social .platforms ul{
    display: flex;
    margin: 0 auto;

}

footer .social .platforms ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 5px;
}

footer .copyright{
    max-width: 25rem;
    margin: 0 auto;
    text-align: center;
}

