@import url('https://fonts.googleapis.com/css2?family=Risque&family=Roboto+Mono:wght@300&display=swap');

:root{
    --h1-font: 2rem;
    --h2-font: 1.5rem;
    --h3-font: 1rem;
    --para-font: 0.75rem;
    --padding-main_container: 50px 100px;
    --padding-small_container: 20px;
}

*, ::before,::after{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: var(--h1-font);
    line-height: 110%;
    font-weight: 800;
    letter-spacing: -10%;
}

h2{
    font-size: var(--h2-font);
    line-height: 120%;
    font-weight: 700;
    letter-spacing: -5%;
}

h3{
    font-size: var(--h3-font);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.5%;
}

p{
    font-size: var(--para-font);
    font-weight: bold;
    line-height: 130%;
}

ul{
    list-style-type: none;
}

body{
    width: 100vw;
    background: #00002e;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 12px;
}

nav{
    width: 100vw;
    min-height: 80px;
    background-color: #1d1d46;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 10px 30px 5px rgba(0,0,0,0.59);
}

nav .logo{
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
}

nav .logo span{
    width: fit-content;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s ease right;
}

nav .logo .logo-container{
    width: 1.75rem;
    height: 1.75rem;
}

nav .logo h2{
    display: none;
}

nav .nav-items{
    width: 100vw;
    display: none;
    flex-direction: column;
    transition: all 1s ease down;
}

nav .nav-items a{
    margin: 1rem auto;
    width: fit-content;
    text-align: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: all 0.5s ease down;
}

nav .nav-items a:hover{
    color: slateblue;
    transition: all 0.5s ease down;
}

nav .nav-items .active{
    background-color: #88C5E8;
    color: slateblue;
    transition: all 0.5 ease down;
}

#hero-section{
    height: 90vh;
    background-image: url('images/pcs.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text_container{
    max-width: 520px;
    max-height: 400px;
    background-color:rgba(167,167, 176, 0.4);
    color: rgba(0,0,0,0.8);
    padding: 50px;
}

#catalogue{
    width: 100%;
    background-color: #00002e;
    padding: 50px 100px; 
}


section .products{
    margin: 0 auto;
    width: 75%;
    height: fit-content;
    background-color: #5b7c99;
    color: black;
}

section .gaming-pcs{
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

section .img-container{
    max-width: 80%;
    min-height: 150px;
    margin: 0 auto;
    flex: 0 1 auto;
}

section .img-container img{
    object-fit: cover;
    object-position: center;
}

section .text-container{
    width: 100%;
    height: fit-content;
    padding: var(--padding-small_container);
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 1 1 auto;
}

section .text-container > *{
    margin-bottom: 3px;
}

section .text-container .action-button{
    appearance: none;
    background-color: inherit;
    border: 2px solid #37013A;
    border-radius: 15px;
    color: #37013A;
    cursor: pointer;
    margin: 8px auto;
    max-width: 150px;
    max-height: 50px;
    outline: none;
    padding: 0.5rem;
    font-weight: 700;
    text-shadow: 0 0 25px rgba(55 ,1, 58, 0.25);
    text-align: center;
    text-decoration: none;
}

section .text-container .action-button:hover {
    box-shadow: 0px 0px 50px 5px #37013A;
    transform: translateY(-2px);
}

section .text-container .action-button:active {
    box-shadow: none;
    transform: translateY(0);
}


section .accessories{
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

section .services{
    width: 75%;
    height: fit-content;
    margin: 0 auto;
    background-color: #d9d9d9;
    color: black;
}

section .services .repairs h1{
    text-align: center;
    padding-top: 50px;
}

section .services .repairs .container{
    padding: var(--padding-small_container);
}

section .calculate .img-container{
    width: 100%;
    height: 300px;
    box-shadow: none;
}

section .calculate .repairs .img-container img{
    object-fit: cover;
}

section .calculate{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .calculate .text-container{
    width: 100%;
    padding: var(--padding-small_container);
    background-color: #2E2E00;
    color: white;
    text-align: center;
}

section .calculate .text-container > *{
    margin: 20px auto;
}

section .membership{
    background-image: url("images/member.jpg");
    background-position: center;
    background-size: cover;
    color: black;
    width: 75%;
    min-height: 300px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .membership .text-container{
    margin: 0 auto;
    padding: 40px;
}

footer{
    width: 100%;
    background-color: #222021;
    padding: 50px;
}

footer p{
    font-size: 12px ;
    font-weight: 400;
    margin-left: 3px;
}

footer .container> *{
    width: 100%; 
    margin-bottom: 12px;
    padding: 5px;
}

footer .company-info > *{
    margin: 4px;
}

footer .sitemap > * {
    margin-bottom: 4px;
}

footer .sitemap ul{
    list-style-type: disc;
    margin-left: 1.5rem;
}

footer .social .support > *{
    margin: 3px;
}

footer .social .platforms .icons{
    width: 20px;
    height: 20px;
    margin: 0 auto; 
}

footer .social .platforms ul{
    display: flex;
    margin: 0 auto;

}

footer .social .platforms ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 5px;
}

footer .copyright{
    max-width: 25rem;
    margin: 0 auto;
    text-align: center;
}

