@import url('https://fonts.googleapis.com/css2?family=Risque&family=Roboto+Mono:wght@300&display=swap');

:root{
    --h1-font: 32px;
    --h2-font: 24px;
    --h3-font: 16px;
    --para-font: 14px;
    --padding-main_container: 50px 100px;
    --padding-small_container: 20px;
}

*, ::before,::after{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: var(--h1-font);
    line-height: 110%;
    font-weight: 800;
    letter-spacing: -10%;
}

h2{
    font-size: var(--h2-font);
    line-height: 120%;
    font-weight: 700;
    letter-spacing: -5%;
}

h3{
    font-size: var(--h3-font);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.5%;
}

p{
    font-size: var(--para-font);
    font-weight: bold;
    line-height: 130%;
}

body{
    width: 100%;
    background: #00002e;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
}

nav{
    width: 100%;
    height: 10vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1d1d46;
    box-shadow: 0px 10px 30px 5px rgba(0,0,0,0.59);
-webkit-box-shadow: 0px 10px 30px 5px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 10px 30px 5px rgba(0,0,0,0.59);
}

nav .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo h2{
    display: flex;
    align-items: center;
}
nav .logo h2 > span{
    width: fit-content;
}

.nav-items{
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;

}

.nav-items a:hover{
    color: slateblue;
    transition: all 0.3s ease;
}

#hero-section{
    height: 90vh;
    background-image: url('images/pcs.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text_container{
    width: 32rem;
    height: 15rem;
    background-color:rgba(167,167, 176, 0.75);
    color: #000;
    padding: 50px;
}

#catalogue{
    width: 100%;
    background-color: #00002e;
    padding: 50px 100px; 
}

.catalogue-container{
    height: 20vh;
    min-width: 480px;
    margin: 0 auto;
}

.catalogue-container h2{
    margin-bottom: 20px;
}

.catalogue-container .catalogue-list{
    list-style-type: none;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 30px;
}

.catalogue-container .catalogue-list .list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.catalogue-container .catalogue-list .list-item a{
    font-size: 14px;
}

.catalogue-container .catalogue-list .list-item span{
    color: black;
  
}

section .products{
    margin: 0 auto;
    width: 75%;
    height: fit-content;
    background-color: #5b7c99;
    color: black;
}

section .gaming-pcs{
    margin: 0 auto;
    padding: var(--padding-main_container);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .img-container{
    width: 300px;
    height: 150px;
    box-shadow: 0px 0px 60px 5px #00172e;
}

section .img-container img{
    object-fit: cover;
    object-position: center;
}

section .text-container{
    width: 350px;
    height: fit-content;
    padding: var(--padding-small_container);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .text-container > *{
    margin-bottom: 3px;
}

section .text-container .action-button{
    appearance: none;
    background-color: inherit;
    border: 2px solid #37013A;
    border-radius: 15px;
    color: #37013A;
    cursor: pointer;
    margin: 8px auto;
    width: 150px;
    height: 50px;
    outline: none;
    padding: 16px 24px;
    font-weight: 700;
    text-shadow: 0 0 25px rgba(55 ,1, 58, 0.25);
    text-align: center;
    text-decoration: none;
}

section .text-container .action-button:hover {
    box-shadow: 0px 0px 50px 5px #37013A;
    transform: translateY(-2px);
}

section .text-container .action-button:active {
    box-shadow: none;
    transform: translateY(0);
}


section .accessories{
    margin: 0 auto;
    padding: var(--padding-main_container);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .services{
    width: 75%;
    height: fit-content;
    margin: 0 auto;
    background-color: #d9d9d9;
    color: black;
}

section .services .repairs h1{
    text-align: center;
    padding-top: 50px;
}

section .services .repairs .container{
    padding: var(--padding-main_container);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .calculate .img-container{
    width: 100%;
    height: 300px;
    box-shadow: none;
}

section .calculate .repairs .img-container img{
    object-fit: cover;
}

section .calculate{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .calculate .text-container{
    width: 100%;
    padding: var(--padding-main_container);
    background-color: #2E2E00;
    color: white;
    text-align: center;
}

section .calculate .text-container > *{
    margin: 20px auto;
    max-width: 480px;
}

section .membership{
    border: 10px solid black;
    background: url("images/member.jpg"), lightgray 50%;
    background-position: center;
    background-size: cover;
    color: black;
    width: 75%;
    height: 500px;
    margin: 0px auto;
}

section .membership .text-container{
    margin: 0 auto;
    padding: 40px;
}

